<div>
    <div>
        <img style="display: block; margin: 0 auto; width: 100%; max-width: 800px"
             src="http://reforestsrilanka.com/trees-for-life/img/logovector-reforestsl.png"
             alt="">
    </div>
    <div>
        <h1 style="text-align: center;">Reforest Sri Lanka</h1>
        <div style="text-align: center">
            Your password has been set to: <span
                style="background-color: #4CAF50;
                    border: none;
                    border-radius: 3px;
                    color: white;
                    padding: 5px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;"
        >###
            </span> login with this password and reset from the Reforest mobile app.
        </div>
    </div>
</div>
<br><br>
<div style="text-align: center;">
    <div style="display: inline-block;">
        <span style="background-color: #f44842;
                    border: none;
                    border-radius: 3px;
                    color: white;
                    padding: 5px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;">Powered by:
            <a href="https://www.facebook.com/TeamDVios"><img
                    style="max-height: 30px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 3px"
                    src="https://www.dropbox.com/s/xnhbdp00i5tr87x/dvios.jpg?raw=1"
                    alt=""></a>
        </span>
    </div>

</div>